ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

li {
  font-size: 1.2rem;
  margin: 0 4rem;
  padding: 1.5rem 0rem;
  color: #666;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Karla;
  font-size: 30px;
}

nav a:hover {
  text-decoration: underline;
  color: #f4ce14;
}
nav {
  border-bottom: 2px solid black;
  background-color: #495e57;
  height: 80px;
}
